remote-monitoring-modbus1.json
[{"id":"78054238.bde26c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d1278e8e.387f","type":"modbus-read","z":"78054238.bde26c","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"3","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"9c857289.e0027","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":180,"wires":[["b3df0d25.69eb3","bed488ce.5b2038"],[]]},{"id":"e3ce8cea.c627","type":"debug","z":"78054238.bde26c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":180,"wires":[]},{"id":"b3df0d25.69eb3","type":"function","z":"78054238.bde26c","name":"Split up modbus array","func":"var data = global.get(\"myData\");\n\ndata.analog1.raw = msg.payload[0];\ndata.analog2.raw = msg.payload[1];\ndata.digitals.di1 = (msg.payload[2] & 1);\ndata.digitals.di2 = (msg.payload[2] & 2)>>>1;\ndata.digitals.di3 = (msg.payload[2] & 4)>>>2;\ndata.digitals.di4 = (msg.payload[2] & 8)>>>3;\n\nglobal.set(\"myData\",data);\n\nmsg = {payload : data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["e3ce8cea.c627"]]},{"id":"1a6d10aa.2d64ff","type":"change","z":"78054238.bde26c","name":"Save to global variables","rules":[{"t":"set","p":"myData","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":80,"wires":[[]]},{"id":"b0275b97.4937c8","type":"function","z":"78054238.bde26c","name":"Make object","func":"var data = {};\n\n//Total Amps\n//Total KW\n//KW per engine\n//Amp per engine\n//KW per tool (ie. Drawworks.powerLimiting.ri.TotalConsumedPower_kW.value)\n//Block height\n//Block speed\n//Hookload\n//TD Torque\n//TD RPM\n//Pump pressure\n//Number of pumps online\n//Rig activity\n//Fuel usage\n//NG usuge\n//Fuel efficiency (we will confirm the formula)\n\n\n\ndata = {\n    \"analog1\" : {\n        \"raw\" : 0,\n        \"value\" : 0,\n        \"inMin\" : 0,\n        \"inMax\" : 32767,\n        \"outMin\" : 0,\n        \"outMax\" : 20,\n        \"error\" : 0\n    },\n    \"analog2\" : {\n        \"raw\" : 0,\n        \"value\" : 0,\n        \"inMin\" : 0,\n        \"inMax\" : 32767,\n        \"outMin\" : 0,\n        \"outMax\" : 20,\n        \"error\" : 0\n    },\n    \"digitals\" : {\n        \"di1\" : 0,\n        \"di2\" : 0,\n        \"di3\" : 0,\n        \"di4\" : 0,\n    }\n}\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":80,"wires":[["1a6d10aa.2d64ff"]]},{"id":"d6ffc8cf.b46948","type":"inject","z":"78054238.bde26c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["b0275b97.4937c8"]]},{"id":"ab033167.90bbf","type":"function","z":"78054238.bde26c","name":"Analog1 Scaling","func":"var Data = global.get(\"myData\"); // Load the Global data\n\nvar analog1 = { payload : {\n    \"value\": Data.analog1.value,\n    \"inMin\": Data.analog1.inMin,\n    \"inMax\": Data.analog1.inMax,\n    \"outMin\": Data.analog1.outMin,\n    \"outMax\": Data.analog1.outMax,\n    \"raw\": Data.analog1.raw,\n    \"error\": Data.analog1.error}\n};\n\n// Scale Analog\nData.analog1.value = scale(Data.analog1.raw, Data.analog1.inMin, Data.analog1.inMax,Data.analog1.outMin,Data.analog1.outMax);\n\n\nfunction scale(raw, inMin, inMax, outMin, outMax){\n    var value = 0;\n    if(raw!=3){\n        value = ((outMax / inMax) * (raw - inMin)) +  outMin;\n        value = value * 100;\n        value = Math.trunc(value);\n        value = value / 100;\n        return(value)\n    }else{\n        value=0;\n        return(0);\n    }\n}\n\n// Check for broken wires\nData.analog1.error = checkAnalog(Data.analog1.raw);\n\n//4-20 module\nfunction checkAnalog(raw){\n    if (raw==3){\n        return(1);\n    }else{\n        return(0);\n    }\n}\n// Resistor module\nfunction checkAnalogResist(raw){\n    if (raw==24000){\n        return(1);\n    }else{\n        return(0);\n    }\n}\n\nnode.status({fill:\"green\",shape:\"ring\",text:\"Raw: \"+Data.analog1.raw});\nglobal.set('myData',Data);\nreturn analog1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":320,"wires":[["7347490b.bfb6b8"]]},{"id":"ead42130.176b3","type":"inject","z":"78054238.bde26c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":150,"y":320,"wires":[["ab033167.90bbf","e3884e66.e663d","3fedf2c8.327eae"]]},{"id":"e3884e66.e663d","type":"function","z":"78054238.bde26c","name":"Analog2 Scaling","func":"var Data = global.get(\"myData\"); // Load the Global data\n\nvar analog2 = { payload : {\n    \"value\": Data.analog2.value,\n    \"inMin\": Data.analog2.inMin,\n    \"inMax\": Data.analog2.inMax,\n    \"outMin\": Data.analog2.outMin,\n    \"outMax\": Data.analog2.outMax,\n    \"raw\": Data.analog2.raw,\n    \"error\": Data.analog2.error}\n};\n\n// Scale Analog\nData.analog2.value = scale(Data.analog2.raw, Data.analog2.inMin, Data.analog2.inMax,Data.analog2.outMin,Data.analog2.outMax);\n\n\nfunction scale(raw, inMin, inMax, outMin, outMax){\n    var value = 0;\n    if(raw!=3){\n        value = ((outMax / inMax) * (raw - inMin)) +  outMin;\n        value = value * 100;\n        value = Math.trunc(value);\n        value = value / 100;\n        return(value)\n    }else{\n        value=0;\n        return(0);\n    }\n}\n\n// Check for broken wires\nData.analog2.error = checkAnalog(Data.analog2.raw);\n\n//4-20 module\nfunction checkAnalog(raw){\n    if (raw==3){\n        return(1);\n    }else{\n        return(0);\n    }\n}\n// Resistor module\nfunction checkAnalogResist(raw){\n    if (raw==24000){\n        return(1);\n    }else{\n        return(0);\n    }\n}\n\nnode.status({fill:\"green\",shape:\"ring\",text:\"Raw: \"+Data.analog2.raw});\nglobal.set('myData',Data);\nreturn analog2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["3dda19f7.742046"]]},{"id":"7347490b.bfb6b8","type":"function","z":"78054238.bde26c","name":"Return value","func":"var msg1 = {};\nmsg1 = {payload : msg.payload.value}; \nnode.status({fill:\"blue\",shape:\"ring\",text:\"Scaled: \"+msg.payload.value});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":320,"wires":[["25ad520c.ebf84e"]]},{"id":"25ad520c.ebf84e","type":"influxdb out","z":"78054238.bde26c","influxdb":"3280d305.b7272c","name":"","measurement":"analog1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":920,"y":320,"wires":[]},{"id":"3dda19f7.742046","type":"function","z":"78054238.bde26c","name":"Return value","func":"var msg1 = {};\nmsg1 = {payload : msg.payload.value}; \nnode.status({fill:\"blue\",shape:\"ring\",text:\"Scaled: \"+msg.payload.value});\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":380,"wires":[["eb3d7ff7.ef2d1"]]},{"id":"eb3d7ff7.ef2d1","type":"influxdb out","z":"78054238.bde26c","influxdb":"3280d305.b7272c","name":"","measurement":"analog2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":920,"y":380,"wires":[]},{"id":"3fedf2c8.327eae","type":"cpu","z":"78054238.bde26c","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":370,"y":440,"wires":[["b64b6991.db49d8"]]},{"id":"b64b6991.db49d8","type":"function","z":"78054238.bde26c","name":"CPU Stats","func":"\nnode.status({fill:\"green\",shape:\"ring\",text:\"CPU: \"+msg.payload});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":440,"wires":[["5b053234.e8ec7c"]]},{"id":"91ee26b2.695048","type":"inject","z":"78054238.bde26c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":540,"wires":[["d6e2963f.5c3218"]]},{"id":"47025109.a6b2f","type":"inject","z":"78054238.bde26c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8200","payloadType":"num","x":130,"y":580,"wires":[["d6e2963f.5c3218"]]},{"id":"d737e26b.81bfe","type":"inject","z":"78054238.bde26c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"16535","payloadType":"num","x":130,"y":620,"wires":[["d6e2963f.5c3218"]]},{"id":"2090f562.298b5a","type":"inject","z":"78054238.bde26c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"24500","payloadType":"num","x":130,"y":660,"wires":[["d6e2963f.5c3218"]]},{"id":"1ea033d2.f01dcc","type":"inject","z":"78054238.bde26c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"32767","payloadType":"num","x":130,"y":700,"wires":[["d6e2963f.5c3218"]]},{"id":"d6e2963f.5c3218","type":"function","z":"78054238.bde26c","name":"Make Simulated Modbus Array","func":"var data = [];\ndata[0] = msg.payload; // put the number from debug into the first analaog input\ndata[1] = 0;\ndata[2] = 0;\nmsg = {payload : data};\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Raw: \"+data[0]});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":620,"wires":[["1907118a.3bb58e"]]},{"id":"1907118a.3bb58e","type":"modbus-write","z":"78054238.bde26c","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"MHoldingRegisters","adr":"512","quantity":"3","server":"9c857289.e0027","emptyMsgOnFail":false,"keepMsgProperties":false,"x":800,"y":620,"wires":[[],[]]},{"id":"5b053234.e8ec7c","type":"influxdb out","z":"78054238.bde26c","influxdb":"3280d305.b7272c","name":"","measurement":"CPU","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":440,"wires":[]},{"id":"bed488ce.5b2038","type":"debug","z":"78054238.bde26c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":220,"wires":[]},{"id":"c663d4a0.94ee78","type":"comment","z":"78054238.bde26c","name":"TESTING ONLY: Simulate a 15bit Analog Input via an Analog Output","info":"Analog output is directly wired to our analog input","x":260,"y":500,"wires":[]},{"id":"c1a46df2.9346a","type":"comment","z":"78054238.bde26c","name":"Read in KBUS DI/AI and split MODBUS array","info":"","x":190,"y":140,"wires":[]},{"id":"ca93c13b.0664a","type":"comment","z":"78054238.bde26c","name":"Accept AI's from the field, scale them, then send the value to InfluxDB","info":"","x":270,"y":280,"wires":[]},{"id":"1d2e824c.d6397e","type":"comment","z":"78054238.bde26c","name":"Create an Array of Initialized Variables","info":"","x":170,"y":40,"wires":[]},{"id":"30fa29.784d75d8","type":"comment","z":"78054238.bde26c","name":"Put Analog value into MODBUS array to change value of AO","info":"","x":520,"y":580,"wires":[]},{"id":"9c857289.e0027","type":"modbus-client","name":"WAGOPFC","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":1000,"parallelUnitIdsAllowed":true},{"id":"3280d305.b7272c","type":"influxdb","hostname":"192.168.1.17","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]